:root {
  --clr-primary-nutmeg: hsl(14, 45%, 36%);
  --clr-primary-drk-rasp: hsl(332, 51%, 32%);

  --clr-neutral-white: hsl(0, 0%, 100%);
  --clr-neutral-rose-white: hsl(330, 100%, 98%);
  --clr-neutral-eggshell: hsl(30, 54%, 90%);
  --clr-neutral-light-grey: hsl(30, 18%, 87%);
  --clr-neutral-wenge-brown: hsl(30, 10%, 34%);
  --clr-neutral-drk-charcoal: hsl(24, 5%, 18%);

  --ff-primary: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
  --ff-secondary: "Outfit", sans-serif;

  --fw-regular: 400;
  --fw-semi-bold: 600;
  --fw-bold: 700;
}

/* box sizing rules */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
/* ul[role="list"],
ol[role="list"] {
  list-style: none;
} */

html,
body {
  height: 100%;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

h2 {
  color: var(--clr-primary-nutmeg);
  font-size: 2rem;
  font-family: var(--ff-primary);
  margin-bottom: 1rem;
}

span {
  font-weight: 600;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: var(--ff-secondary);
  font-size: 1rem;
  font-weight: 400;
  width: 375px;
}

section {
  margin: 2rem;
  margin-top: 40px;
}

h1 {
  font-size: 2.3rem;
  font-family: var(--ff-primary);
  margin-bottom: 24px;
  line-height: 1;
}

.title-text {
  margin-bottom: 2rem;
}

.prep-time {
  background-color: var(--clr-neutral-rose-white);
  border-radius: 1em;
  padding: 1rem;
}

h3 {
  color: var(--clr-primary-nutmeg);
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

ul {
  list-style-type: none;
}

/* .prep-time-list li {
  line-height: 3;
}
 */
ul li::before {
  content: "\2022";
  color: var(--clr-primary-nutmeg);
  display: inline-block;
  width: 1.5em;
  margin-left: 0.4em;
  font-size: 1.8em;
}

main {
  margin: 2rem;
}

main ul {
  margin-left: 1rem;
  margin-bottom: 1rem;
}

main ul li {
  padding-left: 1rem;
  padding-bottom: 1rem;
}

main ol {
  margin-left: 1rem;
  margin-bottom: 1rem;
}

main ol li {
  padding-left: 1rem;
  padding-bottom: 1rem;
}

.Ingredients {
  border-bottom: 1px solid var(--clr-neutral-light-grey);
}

.Instructions {
  margin-top: 1rem;
  border-bottom: 1px solid var(--clr-neutral-light-grey);
}

.Nutrition {
  margin-top: 1rem;
}

.none {
  font-weight: 400;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
